body {
  	  background: url(../images/special.jpg);
  	  background-size: cover;
      font-family: sans-serif;
      text-align: center;  
      color: white;

      }
      

  ul {
  	width: 400px;
  	text-align: left;
  	margin: auto;
  }

  #slogan {

  	color: white;
  	font-size: 24px;
	font-weight: 200;

  	font-style: italic;
  }

hr {
	width: 40px;
       }

 a { 
 	color: yellow;
 	text-decoration: none;}

